*{
    margin: 0px;
    padding: 0px;
}


@font-face {
    font-family: Roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
body{
    font-family: Roboto-regular;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    list-style: none;
    display: inline-block;
    padding-right: 28px;
}
.menu a{
    text-decoration: none;
    font-family: bold;
    font-size: 16px;
    line-height: 26px;
    color: #1c1b1b;
}
.social{
    display: flex;
    align-items: center;
}
.social img{
    padding-left: 10px
}
header .row{
    height: 56px;
}
.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.section1{
    background-color: #F0EFEB;
}
.section1 .row{
    height: 554px;
}
.section1 h1{
    font-size: 60px;
    font-weight:700;
    line-height: 70.31px;
}
.section1 h2{
    margin-top: 42px;
    margin-bottom: 28px ;
font-weight: normal;
font-size: 24px;
line-height: 28px;
}
button{
    font-size: 17px;
    line-height: 19.92px;
    padding: 8px 23px;
    color: white;
    background-color: black;
    border-radius: 35px;
    cursor: pointer;
    border: 1px solid black;
}

.section2 {
    background-color: #E5E5E5;
    padding-bottom: 250px;
}
.introduction{
    justify-content: center;
}
.intro{
    padding-top: 60px;
    padding-bottom: 88px;
   text-align: center;
}
.section2  h1{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 28px;
}
.section2  h2{
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 47px;
}
.secondh2{
    font-size: 20px;
    line-height: 23px;
}
.section2  h3{
    padding-top: 1px;
    font-size: 36px;
    line-height: 42px;
}
.section2  .col{
    text-align: center;
}
.section2  h4{
    padding-top: 27px;
    padding-bottom: 17px;
    font-weight: bold;
font-size: 17px;
line-height: 20px;
}
.section2  h5{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    padding-bottom: 5px;
}
.section3 img{
    width:385px;
    height: 525px;
}
.section3 .row:nth-child(odd){
    background-color: #F0F0F0;
}
.section3 .row:nth-child(even){
    background-color: #E0E0E0;
}
.section3 .col{
    padding-top: 77px;
    padding-bottom: 50px;
}
.section3  .container{
    display: flex;
    align-items: center;
}
.section3 h1{
    padding-left: 50px ;
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
padding-bottom: 30px;
}
.section3 h2{
    padding-left: 50px;
    font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
padding-bottom: 40px;
}
.section3 a{
   padding-top: 40px;
   padding-left: 50px;
    font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 20px;
text-decoration-line: underline;
}
.right {
    justify-content: flex-end;
    text-align: right;
}
.right a{
    padding-right: 50px;
}
.col1{
    padding-right: 50px;
}
.section4 h1{
    text-align: center;
    margin-top: 190px;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 69px;
}
.square{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 26px;
}
.first{
    background-color: #21F7EC;
}
.second{
    background-color: #33D3BC;
}
.third{
   background-color:  #18A5C6;
}
.fourth{
    background-color: #D38F62;
}
.fifth{
    background-color: #F94C43;
}
.sixth{
    background-color: #D399FF;
}
.section4 h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}
.section4 .row{
    padding-bottom: 111px;
}
.section4 h3{
    padding-top: 52px;
    text-align: center;
    font-weight: bold;
font-size: 36px;
line-height: 42px;
}
.section5 .row{
    padding-top: 102px;
}
.section5 .col{
    text-align: center;
}
.section5 h1{
    padding-top: 35px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.section5 h2{
    padding-top: 40px;
    padding-bottom: 44px;
    font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 22px;
}
.section5 a{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.section6{
    padding-bottom: 88px;
}

.section6 .col{
    text-align: center;
}

.section6 h1{
    margin-top: 79px;
    margin-bottom: 9px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.section6 h2{
    margin-bottom: 26px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

.fname, .lname, .email{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 12px;
    border: 1px solid black;
}

.fname, .lname{
    width: 153px;
    margin-bottom: 18px;
    
}

.email{
    width: 370px;
    margin-bottom: 16px;
}

.fname{
    margin-right: 60px;
}

::placeholder{
    color: #A0A0A0;
}

footer{
    background-color: #020202;
    padding-top: 51px;
}

footer .row{
    align-items: flex-start;
}

.log{
    margin-bottom: 37px;
}

.socialmedia a{
    margin-right: 22px;
}

.links{
    display: flex;
}

.firstline{
    margin-right: 72px;
    margin-bottom: 20px;
}

footer li{
    list-style: none;
    margin-bottom: 12px;
}

.firstline li:first-child, .secondline li:first-child{
    margin-bottom: 36px;
}

footer li a{
    color: white;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

.end{
    color: white;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    padding-bottom: 16px;
}