@font-face {
  font-family: Inter-Bold;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../fonts/Inter-SemiBold.ttf);
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-position: center;
          mask-position: center;
  vertical-align: middle;
  background-color: #f1b301;
}

.icon.icon-tel {
  -webkit-mask-image: url("../icons/tel.svg");
          mask-image: url("../icons/tel.svg");
}

.icon.icon-bag {
  -webkit-mask-image: url("../icons/bag.svg");
          mask-image: url("../icons/bag.svg");
}

.icon.icon-menuIcon {
  -webkit-mask-image: url("../icons/menuIcon.svg");
          mask-image: url("../icons/menuIcon.svg");
}

.icon.icon-filter {
  -webkit-mask-image: url("../icons/filtr.svg");
          mask-image: url("../icons/filtr.svg");
}

.icon.icon-filter {
  -webkit-mask-image: url("../icons/filtr.svg");
          mask-image: url("../icons/filtr.svg");
}

.icon.icon-plus {
  -webkit-mask-image: url("../icons/plus.svg");
          mask-image: url("../icons/plus.svg");
}

.icon.icon-googleplay {
  -webkit-mask-image: url("../icons/googleplay.svg");
          mask-image: url("../icons/googleplay.svg");
}

.icon.icon-appstore {
  -webkit-mask-image: url("../icons/appstore.svg");
          mask-image: url("../icons/appstore.svg");
}

.icon.icon-youtube {
  -webkit-mask-image: url("../icons/youtube.svg");
          mask-image: url("../icons/youtube.svg");
}

.icon.icon-facebook {
  -webkit-mask-image: url("../icons/facebook.svg");
          mask-image: url("../icons/facebook.svg");
}

.icon.icon-dropdown {
  -webkit-mask-image: url("../icons/dropdown.svg");
          mask-image: url("../icons/dropdown.svg");
}

.pm-0, body header nav .container .collapse ul li .d-flex h6, body header nav .container .collapse ul li .d-flex h3 {
  padding: 0 !important;
  margin: 0 !important;
}

.item-center, body header nav .container .collapse ul li .d-flex .badge, body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left .badge, body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right .btn-yellow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position-relative {
  position: relative;
}

.lightBtn, body .category-section .container .one-line .right .dropdown button {
  padding: 15px 46px;
  font-size: 20px;
  line-height: 24px;
  color: #222124;
  background: #f5f5f5;
  border-radius: 27px;
  border: none;
}

body {
  font-family: Inter-Regular;
}

body header {
  margin-bottom: 79.5px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, #ffffff), color-stop(30%, #800a7a));
  background-image: linear-gradient(to right, #ffffff 70%, #800a7a 30%);
}

body header nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 2 !important;
}

body header nav .container {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(68%, #ffffff), color-stop(32%, #800a7a));
  background-image: linear-gradient(to right, #ffffff 68%, #800a7a 32%);
  padding-top: 28px !important;
}

body header nav .container .navbar-brand {
  width: 52px;
  height: 55px;
}

body header nav .container .collapse ul li {
  margin-left: 40px;
}

body header nav .container .collapse ul li a {
  text-decoration: none;
}

body header nav .container .collapse ul li a.nav-link {
  padding: 0;
  color: #222124;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

body header nav .container .collapse ul li a.nav-link:hover {
  color: #800a7a;
}

body header nav .container .collapse ul li .d-flex .icon-tel {
  width: 18px;
  height: 18px;
  margin-left: 41px;
  margin-right: 19px;
}

body header nav .container .collapse ul li .d-flex .icon-bag {
  margin-left: 42px;
  margin-right: 19px;
  width: 18px;
  height: 21px;
}

body header nav .container .collapse ul li .d-flex .badge {
  width: 20px;
  height: 20px;
  border: 2px solid #800a7a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: 7px;
  background-color: #f1b301;
}

body header nav .container .collapse ul li .d-flex h6 {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

body header nav .container .collapse ul li .d-flex h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

body header nav .container .collapse ul li:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

body header .header-content {
  overflow: hidden;
}

body header .header-content .container {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(68%, #ffffff), color-stop(32%, #800a7a));
  background-image: linear-gradient(to right, #ffffff 68%, #800a7a 32%);
}

body header .header-content .container .row .col-xl-6 h1 {
  margin-top: 126px;
  font-family: Inter-ExtraBold;
  font-size: 80px;
  line-height: 85px;
  color: #222124;
  padding-right: 40px;
}

body header .header-content .container .row .col-xl-6 p {
  font-size: 18px;
  line-height: 32px;
  color: #222124;
  padding-right: 38px;
  max-width: 82%;
}

body header .header-content .container .row .col-xl-6 .hamburger-img {
  margin-top: 68px;
  -webkit-transform: translateX(53px);
          transform: translateX(53px);
  width: 691px;
  height: 524px;
}

body header .header-content .container .row .col-xl-6 .top-items {
  margin-top: 66px;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card {
  height: 200px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card .badge {
  padding: 10px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.203344);
  border-radius: 19px;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card .badge img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin-right: 11px;
  display: inline;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card h2 {
  font-family: Inter-ExtraBold;
  font-size: 34px;
  line-height: 32px;
  text-transform: uppercase;
  margin-top: 56px;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card .topCard-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card.top-card-yellow {
  background: linear-gradient(315.49deg, #ffc85c 1.32%, #f1b301 96.68%);
}

body header .header-content .container .row .col-xl-6 .top-items .top-card.top-card-yellow h2 {
  color: #e76a06;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card.top-card-yellow h2 span {
  margin-left: 15px;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card.top-card-violet {
  background-color: #800a7a;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card.top-card-violet h2 {
  color: #fc96f7;
}

body header .header-content .container .row .col-xl-6 .top-items .top-card.top-card-violet h2 span {
  margin-left: 25px;
}

body .category-section {
  padding-bottom: 173px;
}

body .category-section .container .one-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  padding-top: 39.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .category-section .container .one-line .left ul li button {
  font-size: 20px;
  line-height: 24px;
  padding: 15px 27px;
  border-radius: 27px;
  border: none;
  color: #222124;
  margin-right: 6px;
}

body .category-section .container .one-line .left ul li button.active {
  background-color: #f1b301;
  color: #ffffff;
}

body .category-section .container .one-line .right .dropdown button .icon {
  width: 20px;
  height: 20px;
  background-color: #222124;
  margin-right: 18px;
}

body .category-section .container .tab-content .tab-pane .tab-box h1 {
  margin-top: 105px;
  margin-bottom: 30px;
  font-size: 52px;
  line-height: 63px;
  font-family: Inter-Bold;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 {
  padding: 15px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card {
  border: none;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body {
  border: 1px solid rgba(151, 151, 151, 0.181927);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  padding: 19px 30px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left {
  position: relative;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left img {
  max-width: 230px;
  max-height: 230px;
  -o-object-fit: contain;
     object-fit: contain;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left .badge {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.249235);
  -webkit-box-shadow: inset 0px 7px 40px rgba(238, 39, 68, 0.05), 0px 30px 40px rgba(238, 39, 68, 0.355086);
          box-shadow: inset 0px 7px 40px rgba(238, 39, 68, 0.05), 0px 30px 40px rgba(238, 39, 68, 0.355086);
  -webkit-backdrop-filter: blur(5.15485px);
          backdrop-filter: blur(5.15485px);
  border-radius: 25px;
  top: 0;
  left: 0;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left .badge img {
  width: 24px;
  height: 24px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right {
  padding-left: 41px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right h2 {
  font-size: 24px;
  line-height: 29px;
  font-family: Inter-Medium;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right h2 img {
  width: 24px;
  height: 24px;
  margin-left: 17px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right p {
  font-size: 14px;
  line-height: 17px;
  color: #222124;
  opacity: 0.4;
  max-width: 60%;
  margin-bottom: 24px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right h3 {
  font-size: 24px;
  line-height: 29px;
  font-family: Inter-Bold;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right .btn-yellow {
  background-color: #f1b301;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
}

body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right .btn-yellow .icon {
  background-color: #ffffff;
  width: 14px;
  height: 14px;
}

body .category-section .container .tab-content .tab-pane .tab-box .see-more {
  display: none;
}

body .app-section {
  overflow: hidden;
  padding-top: 65px;
}

body .app-section .app-div {
  background-color: #800a7a;
  padding: 75px 0 0 0;
  position: relative;
}

body .app-section .app-div .pepper-img {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  position: absolute;
  top: 20%;
  right: 0;
  width: 709px;
  height: 197px;
}

body .app-section .app-div .container .row .col-xl-6 h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
  margin-bottom: 63px;
}

body .app-section .app-div .container .row .col-xl-6 .app-btn {
  border: 1px solid rgba(255, 255, 255, 0.292941);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-backdrop-filter: blur(27.1828px);
          backdrop-filter: blur(27.1828px);
  border-radius: 46px;
  padding: 18px 31px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: transparent;
}

body .app-section .app-div .container .row .col-xl-6 .app-btn:hover {
  background-color: #ffffff;
}

body .app-section .app-div .container .row .col-xl-6 .app-btn:hover .icon {
  background-color: #800a7a;
}

body .app-section .app-div .container .row .col-xl-6 .app-btn .icon {
  width: 187.46px;
  height: 44.29px;
  background-color: #ffffff;
}

body .app-section .app-div .container .row .col-xl-6 .app-btn-first {
  margin-right: 30px;
}

body .app-section .app-div .container .row .col-xl-6 .phone {
  width: 100%;
  -webkit-transform: scale(1.4) translateY(-82px);
          transform: scale(1.4) translateY(-82px);
}

body footer {
  padding: 125px 0 24px 0;
}

body footer .container .row .col-xl-9 .flexedLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .container .row .col-xl-9 .flexedLine .dropdown {
  display: none;
}

body footer .container .row .col-xl-9 .flexedLine .footer-logo {
  width: 52px;
  height: 55px;
}

body footer .container .row .col-xl-9 .flexedLine ul {
  list-style-type: none;
  padding-left: 138.5px;
}

body footer .container .row .col-xl-9 .flexedLine ul li:first-child {
  font-size: 20px;
  line-height: 18px;
  color: #003846;
  font-family: Inter-Medium;
  margin-bottom: 24px;
}

body footer .container .row .col-xl-9 .flexedLine ul li a {
  font-size: 14px;
  line-height: 34px;
  color: #222124;
  text-decoration: none;
}

body footer .container .row .col-xl-3 .contact {
  padding-left: 20px;
}

body footer .container .row .col-xl-3 .contact h3 {
  font-size: 20px;
  line-height: 18px;
  color: #222124;
  font-family: Inter-SemiBold;
  margin-bottom: 33px;
}

body footer .container .row .col-xl-3 .contact h2 {
  font-size: 25px;
  line-height: 33px;
  color: #222124;
  margin-bottom: 13px;
}

body footer .container .row .col-xl-3 .contact p {
  font-size: 14px;
  line-height: 24px;
  color: #222124;
  mix-blend-mode: normal;
  opacity: 0.7;
}

body footer .container .oneLineSocial {
  border-top: 1px solid rgba(151, 151, 151, 0.3);
  margin-top: 40px;
  padding-top: 27px;
}

body footer .container .oneLineSocial .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container .oneLineSocial .row h5 {
  font-size: 14px;
  line-height: 24px;
  color: #222124;
  opacity: 0.7;
}

body footer .container .oneLineSocial .row .socials {
  padding-left: 20px;
}

body footer .container .oneLineSocial .row .socials a {
  text-decoration: none;
}

body footer .container .oneLineSocial .row .socials a .icon {
  width: 20px;
  height: 20px;
  background-color: #222124;
  opacity: 0.7;
  margin-right: 26px;
}

@media only screen and (max-width: 768px) {
  body header {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, white), color-stop(30%, #800a7a), color-stop(73%, #800a7a), color-stop(73%, white));
    background: linear-gradient(180deg, white 30%, #800a7a 30%, #800a7a 73%, white 73%);
  }
  body header nav .container,
  body header .header-content .container {
    padding-top: 21px !important;
    background-image: unset;
  }
  body header nav .container .navbar-toggler,
  body header .header-content .container .navbar-toggler {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  body header nav .container .navbar-toggler .icon-menuIcon,
  body header .header-content .container .navbar-toggler .icon-menuIcon {
    width: 18px;
    height: 16px;
    background-color: #222124;
  }
  body header nav .container .collapse ul,
  body header .header-content .container .collapse ul {
    margin-top: 15px;
    -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
            align-items: unset !important;
  }
  body header nav .container .collapse ul li,
  body header .header-content .container .collapse ul li {
    margin: 5px 15px;
  }
  body header nav .container .collapse ul li h6,
  body header nav .container .collapse ul li h3,
  body header .header-content .container .collapse ul li h6,
  body header .header-content .container .collapse ul li h3 {
    color: #222124 !important;
  }
  body header nav .container .collapse ul li .icon-bag,
  body header nav .container .collapse ul li .icon-tel,
  body header .header-content .container .collapse ul li .icon-bag,
  body header .header-content .container .collapse ul li .icon-tel {
    margin-left: 0px !important;
  }
  body header nav .container .collapse ul li .badge,
  body header .header-content .container .collapse ul li .badge {
    border: 2px solid #ffffff !important;
  }
  body header nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #ffffff !important;
    z-index: 1;
    padding-bottom: 15px !important;
  }
  body header .header-content .container .row .col-xl-6 .hamburger-img {
    width: 100%;
    height: unset;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 93px;
  }
  body header .header-content .container .row .col-xl-6 h1 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    margin-top: 37px !important;
    padding: 0 40px;
  }
  body header .header-content .container .row .col-xl-6 p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
    max-width: unset;
  }
  body header .header-content .container .row .col-xl-6 .top-items {
    margin-top: 69px;
  }
  body header .header-content .container .row .col-xl-6 .top-items .top-card {
    width: unset !important;
  }
  body .category-section {
    overflow: hidden;
    padding-bottom: 0;
  }
  body .category-section .container .one-line {
    display: block !important;
  }
  body .category-section .container .one-line .left {
    width: 100%;
  }
  body .category-section .container .one-line .left .nav-pills {
    width: 100%;
    overflow: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  body .category-section .container .one-line .right .dropdown button {
    width: 100% !important;
    font-size: 16px !important;
    line-height: 19px !important;
    padding: 13px 14px !important;
  }
  body .category-section .container .tab-content .tab-pane .tab-box h1 {
    margin-top: 40px !important;
    margin-bottom: 11px !important;
    font-size: 36px !important;
    line-height: 44px !important;
    text-align: center;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body {
    padding: 21px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left img {
    width: 127.57px;
    height: 127.57px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left .badge {
    width: 35.37px;
    height: 35.37px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-left .badge img {
    width: 16.98px;
    height: 16.98px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right {
    padding-left: 29px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right h2 {
    font-size: 18px;
    line-height: 22px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right h2 img {
    width: 17.01px;
    height: 17.01px;
    margin-left: 3px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right p {
    max-width: 100%;
    font-size: 12px;
    line-height: 15px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .row .col-xl-6 .card .card-body .card-right .btn-yellow {
    width: 35.43px;
    height: 35.43px;
  }
  body .category-section .container .tab-content .tab-pane .tab-box .see-more {
    font-size: 16px;
    line-height: 19px;
    color: #222124;
    background: #f1f1f1;
    border-radius: 27px;
    border: none;
    padding: 13px;
    width: 100%;
    text-align: center;
    margin-top: 11px;
    display: block;
  }
  body .app-section {
    padding-top: 60px;
  }
  body .app-section .app-div {
    padding-bottom: 40px;
  }
  body .app-section .app-div .pepper-img {
    -webkit-transform: unset;
            transform: unset;
    width: 90%;
    right: 5%;
    top: 10%;
  }
  body .app-section .app-div .container {
    position: relative;
  }
  body .app-section .app-div .container .row .col-xl-6.order-1 {
    text-align: center;
  }
  body .app-section .app-div .container .row .col-xl-6.order-1 .phone {
    -webkit-transform: scale(1.5) translate(-15px, -60px);
            transform: scale(1.5) translate(-15px, -60px);
  }
  body .app-section .app-div .container .row .col-xl-6 h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 44px;
  }
  body .app-section .app-div .container .row .col-xl-6 .app-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }
  body footer {
    padding: 29px 0 0 0;
  }
  body footer .container .row .col-xl-9 .flexedLine {
    display: block;
    text-align: center;
  }
  body footer .container .row .col-xl-9 .flexedLine .footer-logo {
    margin-bottom: 40px;
  }
  body footer .container .row .col-xl-9 .flexedLine ul {
    display: none;
  }
  body footer .container .row .col-xl-9 .flexedLine .dropdown {
    display: block;
  }
  body footer .container .row .col-xl-9 .flexedLine .dropdown button {
    background: #f1f1f1;
    border-radius: 27px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #003846;
    width: 100%;
    padding: 14px 0;
    margin-bottom: 24px;
    position: relative;
  }
  body footer .container .row .col-xl-9 .flexedLine .dropdown button .icon {
    background-color: #7b7b7b;
    width: 14px;
    height: 7px;
    position: absolute;
    top: 20px;
    right: 38px;
  }
  body footer .container .row .col-xl-3 .contact {
    padding-left: unset;
    text-align: center;
  }
  body footer .container .row .col-xl-3 .contact h3 {
    display: none;
  }
  body footer .container .row .col-xl-3 .contact h2 {
    margin-top: 26px;
  }
  body footer .container .oneLineSocial {
    border: none;
    margin-top: unset;
    padding-top: unset;
  }
  body footer .container .oneLineSocial .col-12 {
    text-align: center;
  }
  body footer .container .oneLineSocial .col-12 .socials {
    margin-bottom: 46px;
    padding: 0 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body footer .container .oneLineSocial .col-12 .socials a .icon {
    width: 32.84px;
    height: 32.84px;
    margin-right: unset;
  }
  body footer .container .oneLineSocial .row h5 {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  body header {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, white), color-stop(30%, #800a7a), color-stop(78%, #800a7a), color-stop(78%, white));
    background: linear-gradient(180deg, white 30%, #800a7a 30%, #800a7a 78%, white 78%);
  }
  body header nav .container,
  body header .header-content .container {
    background-image: unset;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  body header {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(56%, #ffffff), color-stop(32%, #800a7a));
    background-image: linear-gradient(to right, #ffffff 56%, #800a7a 32%);
  }
  body header nav .container,
  body header .header-content .container {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(56%, #ffffff), color-stop(32%, #800a7a));
    background-image: linear-gradient(to right, #ffffff 56%, #800a7a 32%);
  }
  body header nav .container .row .order-1,
  body header .header-content .container .row .order-1 {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */